.social {  
   margin-top: 30px;
  
  &__list {
   
  }
  
  &__item {
    list-style: none;
    margin-bottom: 20px;
    min-height: 40px;
  }
  
  &__icon {
    float: left;
    width: 42px;
    height: 42px;
    margin-right: 10px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    color: #394a58;
    font-size: 18px;
    padding-top: 12px;
  }
  
  &__text {
    color: #fff;
    font-size: 14px;
    padding-top: 10px;
  }  
  
}