@media (min-width: 768px) {
  .modal-dialog {
  width: 800px;
}

}

.modal-content {
  padding: 45px 30px 20px;
  position: relative;
  
  .close {
    background: #fff;
    border: none;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 10px;
    outline: none;
  }
}