.last-news {
  
  padding-bottom: 50px;
  overflow: hidden;
  position: relative;
  
  &__inner {
    position: relative;
    padding-top: 50px;
    
    @media (max-width: 850px) {
      padding-top: 105px;
   }
  }
  
  
}