.news-card {
  margin-top: 40px;
  
  &__img {
    display: block;
    width: 168px;
    height: 168px;
    float: left; 
    
    @media (max-width: 360px) {
      float: none;
      
   }
  }
  
  &__content {
    padding-left: 188px;
    
    @media (max-width: 360px) {
      padding-left: 0;
      margin-top: 30px;
   }
  }
  
  &__title {
    color: #072566;
    font-size: 20px;
    line-height: 24px;
  }
  
  &__date {
    color: #999;
    font-size: 16px;
    line-height: 20px;
    margin-top: 5px;
    text-transform: lowercase;
  }
  
  &__text {
    color: #333;
    font-size: 16px;
    line-height: 18px;
    margin-top: 5px;
  }
}