.page-header {
  background: #394a58;
  height: 80px;  
  
  @media (max-width: 1024px) {
     height: auto;
     padding: 20px 0;
     position: relative;
  }
  
  &__inner {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    
    @media (max-width: 1024px) {
      flex-direction: column;
      padding: 0;
      width: 100%;
    }
    
    @media (max-width: 360px) {
      align-items: flex-start;
    }
  }
  
  &__login{
    @media (max-width: 1024px) {
      display: none;
    }
  }
  
  
  &__toggler {
    display: none;
    
    @media (max-width: 1024px) {
      display: block;
      width: 40px;
      height: 30px;
      position: absolute;
      right: 40px;
      top: 27px;
    }
  }
  
  &__icon {
    width: 100%;
    position: absolute;
    border-bottom: 2px solid #fff;
    
    
    &:before {
      content: '';
      position: absolute;
      border-bottom: 2px solid #fff;
      width: 100%;
      top: 10px;
    }
    
    &:after {
      content: '';
      position: absolute;
      border-bottom: 2px solid #fff;
      width: 100%;
      top: 20px;
    }
    
  }
}