.social-block {
  
  background-color: rgba(0, 0, 0, .2);
  border-radius: 4px;
  width: 297px;
  padding: 7px 20px;
  position: absolute;
  right: 7.5%;
  top: 30px; 
  
  
  @media (max-width: 360px) {
      right: 50%;
    transform: translateX(50%);
    }
  
  &__list {
    
  }
  
  &__item {
    display: inline-block;
    margin-right: 30px;
    
    &:last-child {
      margin-right: 0;
    }
  }
  
  &__icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 100px;
    color: #fff;
    font-size: 17px;
    padding-top: 11px;
    text-align: center;
  }
  
  &__counter {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    vertical-align: top;
    margin-top: 12px;
  }
  
}