.event-card {
  margin-top: 30px;
  
  &__img {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  
  &__header {
    height: 80px;
    padding: 13px;
    
    &--noimg {
      height: 60px;
      padding: 3px;
    }
    
    &--yellow {
      background-color: #f1bb3f;
      
      .icon-calendar__header {
        color: #f1bb3f
      }
    }
    
    &--green {
      background-color: #a5be69;
      
      .icon-calendar__header {
        color: #a5be69
      }
    }
    
    &--blue {
      background-color: #01a89e;
      
      .icon-calendar__header {
        color: #01a89e
      }
    }
    
    &--purple {
      background-color: #bc5783;
      
      .icon-calendar__header {
        color: #bc5783
      }
    }
  }
  
  &__icon {
    float: left;
    width: 50px;
    height: 45px;
    margin-right: 40px;    
  }
  
  &__title {
    color: white;
    font-size: 20px;
    line-height: 22px;
    
    &--centred {
      text-align: center;
      margin-top: 15px;
    }
  }
}