.gold-membership {  
  padding-bottom: 105px;
  background: url(gold-membership-bg.png);
  background-size: cover;
  overflow: hidden;
  position: relative;
  background-position: center;
  
  &__inner {
    position: relative;
    padding-top: 110px;
  }
}